<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScheduleX</title>
    <link rel="stylesheet" href="styles/index.css" />
</head>

<body>
    <main style="padding-left: 16rem;
padding-right: 16rem;
margin: 0;
">